@using rmstu.viewModel
@model viewModelClass

@{
    ViewData["Title"] = "Home Page";
}

<h2>RANGAMATI SCIENCE AND TECHNOLOGY UNIVERSITY</h2>
<h4>Name of Departments</h4>

<ul>
    @foreach(var dept in Model.Departments )
    {
        <li>@dept.Name</li>

    }


</ul>

